@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body {
  background: #6441A5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2a0845, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.splash{
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  z-index: 200;
  color: white;
  text-align: center;
  line-height: 90vh;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 25px;
}
.splash.display-none{
  display: none;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  z-index: -200;
  color: white;
  text-align: center;
  line-height: 90vh;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 25px;
}


.step {
  color: gold;
}

@keyframes fadeIn {
  to{
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

header {
  display: flex;
  height: 5vh;
  color: white;
  align-items: center;
  justify-content: center;

}

.container {
  height: 100vh;
  width: auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  font-family: 'Montserrat', sans-serif;
  

}

.todo h1{
  border: 1px solid chocolate;
  color: white;
  margin-bottom: 15px;
  text-align: center;

}
.doing h1{
  border: 1px solid chocolate;
  color: white;
  margin-bottom: 15px;
  text-align: center;

}
.done h1{
  border: 1px solid chocolate;
  color: white;
  margin-bottom: 15px;
  text-align: center;

}

input.todo-input {
  border: none;
  background: transparent;
  color: skyblue;
  border-bottom: 1px solid white;
  
}

input.todo-input:focus {
  border: none;
  outline: none;
}

input:focus::placeholder {
  border-bottom: 1px solid white;
  color: transparent;
  
}

::placeholder {
  color: darkcyan;
  
}

.todo-input-tick {
  padding: 1px 4px 1px 4px;
  border-radius: 9px;
  background-color: silver;
}

.todo-input-moreInfo {
  display: flex;
  float: right;
  color: red;
}

#todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 5px solid;
  margin-top: 5px;
  
}

.bi.bi-three-dots-vertical {
  margin-top: 12px;
  color: white;

}



